html, body{

	padding: 0px;
	margin: 0px;
	height: 100%;
	/*font-family: dense;*/
	font-family: 'Open Sans Condensed', sans-serif;
}
body{

    background-image: url("https://i.giphy.com/media/26BkMeKTW96DDUwYE/200.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:100%;
}

#h1{

	color: rgba(255, 90, 180);
	font-size: 30px;
	margin: auto;
	text-align: center;
	transform: rotate(360deg);
	transition: font-size 3s, transform 3s;
	position: relative;
	top: 50%;
}       
